/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: "Fredoka", sans-serif;
    background-color: white;
}

/* MAIN */
.container {
    margin: 0 auto;
    width: 80%;
    margin-top: 2em;
}

header{
    color: #e53170;
    text-align: center;
} 

.description {
    text-align: center;
    margin-top: 2em;
}

/* CARD SECTION */

.team-members{
    margin-top: 2em;
}

.profile-picture{
    float: left;
}

h4 {
    color: white;
}

.job {
    display: block;
    font-size: 0.8rem;
    margin: 0.3em 0;
    color: white;
}

.card {
    width: calc(100% / 3);
    float: left;
    text-align: center;
    padding: 0 20px;
    margin-top: 2em;
}

.mail {
    font-size: 0.8em;
    color: #5dbbe6;
}

.employee {
    background-color: black;
    text-align: left;
}

.card img {
    height: 100px;
    margin-right: 10px;
}

.details {
    padding: 13px 0;
}
